p{
			text-align: justify;
		}
		h2{
			color: green;
		}
		#page{
			width: 960px;
			margin: 0 auto;
		}
		#content{
			background-color: khaki;
			padding: 10px;
		}
		#left-sidebar{
			width: 20%;
			float: left;
			margin-right: 3%;
		}
		#main{
			width: 50%;
			float: left;
		}
		#right-sidebar{
			width: 20%;
			float: right;
		}
		.clear{
			clear: both;
		}